<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Free Ticket Form Layout</title>
</head>
<body>
<div class="container-fluid">
    <div class="text">
        <h1 class="h4 text-gray-900 mb-4">무료 이용권 발급</h1>
    </div>
    <form action="/free-tickets" method="post">
        <div class="form-group">
            <label for="selectProgram">Select Program</label>
            <select name="programId" class="form-select" id="selectProgram">
                <div>
                    <option value="programId_1">ticket1</option>
                    <option value="programId_2">ticket2</option>
                </div>
            </select>
        </div>
        <div class="form-group">
            <label for="selectUserGroup">Select UserGroup</label>
            <select name="userGroupId" class="form-select" id="selectUserGroup">
                <div>
                    <option value="groupId_1">그룹 1</option>
                    <option value="groupId_2">그룹 2</option>
                </div>
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-block">발급 요청</button>
    </form>
    <hr>
</div>
</body>
</html>