<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>layout list</title>
</head>
<body>
<div id="ticket-list" class="list-group list-group-checkable d-grid gap-2 border-0">
    <div>
        <input class="list-group-item-check pe-none ticket-expired" type="radio" name="listGroupCheckableRadios"
               id="listGroupCheckableRadios1" value="">
        <label class="list-group-item rounded-3 py-3 ticket-header" for="listGroupCheckableRadios1">
            예약 1
            <span class="d-block small opacity-50 ticket-info">PT 10회권 / 2023-03-03</span>
            <span class="d-block small opacity-50 remaining-count">잔여 회수 9 / 10</span>
            <span class="d-block small opacity-50 member-name">김 아무개</span>
        </label>
    </div>
    <div>
        <input class="list-group-item-check pe-none ticket-expired" type="radio" name="listGroupCheckableRadios"
               id="listGroupCheckableRadios2" value="">
        <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
            예약 2
            <span class="d-block small opacity-50 ticket-info">PT 10회권 / 2023-03-03</span>
            <span class="d-block small opacity-50 remaining-count">잔여 회수 9 / 10</span>
            <span class="d-block small opacity-50 member-name">김 아무개</span>
        </label>
    </div>
    <input class="list-group-item-check pe-none ticket-expired" type="radio" name="listGroupCheckableRadios"
           id="listGroupCheckableRadios3" value="">
    <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
        예약 3
        <span class="d-block small opacity-50 ticket-info">PT 10회권 / 2023-03-03</span>
        <span class="d-block small opacity-50 remaining-count">잔여 회수 9 / 10</span>
        <span class="d-block small opacity-50 member-name">김 아무개</span>
    </label>
    <div>
        <input class="list-group-item-check pe-none ticket-expired" type="radio" name="listGroupCheckableRadios"
               id="listGroupCheckableRadios4" value="" disabled="">
        <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
            예약 4
            <span class="d-block small opacity-50 ticket-info">PT 10회권 / 2023-03-03</span>
            <span class="d-block small opacity-50 remaining-count">잔여 회수 0 / 10</span>
            <span class="d-block small opacity-50 member-name">김 아무개</span>
        </label>
    </div>
</div>
</body>
</html>