<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
    <meta charset="UTF-8">
    <title>이용권 발급</title>
</head>
<body class="d-flex">
<aside id="layout-sidebar"></aside>
<div class="overflow-scroll w-100">
    <div id="layout-form"></div>
    <div id="layout-table"></div>
</div>

<script id="layout-scripts"></script>

<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-init.js"></script>

</body>
</html>